@import "tailwindcss";

.Sign-in{
  background-image: url('./assets/photo_2025-02-03_12-36-56.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}